body {
	font-family: Arial, Helvetica, sans-serif;
	background: #e7eaf6;
}

img {
	margin-top: 10px;
}

h4 {
	padding: 30px;
	margin: 20px;
}
button {
	display: block;
	margin: 30px auto;
	padding: 20px;
	background-color: #113f67;
	color: white;
	border: 2px solid #1a64d6;
	border-radius: 50px;
	font-size: 18px;
	transition: all 200ms ease-in-out;
}
button:hover {
	background-color: #38598b;
	color: white;
	cursor: pointer;
}

#events-image {
	max-width: 35%;
	max-height: auto;
}

#homepage-image {
	background-repeat: no-repeat;
	background-size: cover;
}
.h3-header,
.h2-header {
	text-align: center;
}
.jumbotron,
.site-footer {
	background: #113f67;
	margin: 0;
	padding: 10px;
	color: #e7eaf6;

	background-image: url(/images/guitar-closeup.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.navbar {
	background-color: #38598b;
}

.card {
	background: #e7eaf6;
	width: auto;
}

.d-flex {
	max-height: 300px;
	max-width: 300px;
	margin: 0 20px 20px 20px;
}

.home,
.pricing {
	background: #e7eaf6;
}
.process,
.booking {
	background: #a2a8d3;
}

.first-color {
	background: #e7eaf6;
}

.second-color {
	background: #a2a8d3;
}

.third-color {
	background: #38598b;
}

.fourth-color {
	background: #113f67;
}
